<!DOCTYPE html>
<html>
  <head>
    <title>map page</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 80%;
        width: 90%;
        margin-left: auto;
        margin-top: auto;
        margin-right: auto;
        margin-bottom: auto;

      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    
  </head>
  <body>

    <h1>search results</h1>

    <form class="back-button" method = "POST" action = "">{% csrf_token%}
      <div class="btn-area">
      <input type="button" value="検索条件を変更する" onClick="javascript:history.go(-1);">
      </div>
    </form>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8Yh7th8MH0X_hrUV2gtHYktjQql0TlHA"></script>
    <div id="map"></div>

    <script>
      // 必要なicon取得
      var iconBase =
            'https://developers.google.com/maps/documentation/javascript/examples/full/images/';
          
          var icons = {
          library: {
            icon: iconBase + 'library_maps.png'
          },
          parking:{
            icon: iconBase + 'parking_lot_maps.png'
          }
          };
 
      //マップ、マーカーの生成
      var map;
      function initMap() {
        var mapLatLng = new google.maps.LatLng({{station}});
        var Options = {
        zoom: 15, //地図の縮尺値
        center: mapLatLng
        };
        map = new google.maps.Map(document.getElementById('map'), Options);
      }

      function readTextFile(file,callback){
        callback()
      }

      initMap();

      // readTextFileをfor文で回したい
      var lessons_index = {{lessons|safe}};
      readTextFile("",function(){
        for (let i = 0; i < lessons_index.length; i++){
          var json_file = `{{${lessons_index[i]}|safe}}`
          var data = JSON.parse(json_file);
          for (let j = 0; j <data.length; j++){
            var element = data[j];
            var lat = element["緯度"];
            var lon = element["経度"];
            var latlon = new google.maps.LatLng(lat,lon);
            var marker = new google.maps.Marker({
              position: latlon,
              icon:icons["parking"].icon,
              map: map
            });
            var circle = new google.maps.Circle({
              storokecolor: "#FF0000",
              strokeOpacity: 0.5,
              strokeWeight: 2,
              fillColor: '#FF0000',
              fillOpacity: 0.05,
              map: map,
              center: latlon,
              //徒歩1分=80mで計算
              radius: 80 * {{walktime}}
            });

          }
        }

      })


  
    </script>


  </body>

</html>